PORT=5000
CLIENT_ORIGIN=http://localhost:5173

# Gmail address that will send/receive the contact form emails
EMAIL_USER=your-gmail-address@gmail.com
# Gmail App Password (not your normal password) - generate one at
# https://myaccount.google.com/apppasswords
EMAIL_PASS=your-16-char-app-password
